<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="btn btn-primary" (click)="openDialog()">heloo</div>
<h2>Here are some links to help you start: </h2>
</div>
<div class="col-md-6"> 
  <form class="example-form">
   <input placeholder="jhkbsdlknfj">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <div class="col-md-1">
    <mat-checkbox>Check me!</mat-checkbox>
  </div>
  <!-- <mat-slider></mat-slider> -->
  <mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  min="1"
  max="100000"></mat-slider>

  
</form>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-card>Simple card</mat-card>

</div>